 <section id="slider" class="fullheight">
    <!--<span class="overlay dark-2" style="background-color: rgba(0,0,0,.4);">&lt;!&ndash; dark overlay [0 to 9 opacity] &ndash;&gt;</span>-->

    <canvas id="canvas-particle" data-rgb="156,217,249"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
     <div class="display-table-cell vertical-align-middle">

       <div class="container text-center">
         <div class="col-md-12 col-sm-12">
           <h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s">
             <span class="rotate "  style="color:#8ab933!important;font-weight: 500;font-size: 40px">Sity</span>
             智水移动
           </h1>

           <p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
             已经正式上线，使用系统请登录!
           </p>

           <a class="" style="padding: 6px 15px;background-color: #5cb85c;border-radius: 5px;color:#fff;">Version 1.0.1</a>
         </div>
       </div>
     </div>
   </div>
  </section>
