 <section id="slider" class="fullheight">
    <!--<span class="overlay dark-2" style="background-color: rgba(0,0,0,.4);">&lt;!&ndash; dark overlay [0 to 9 opacity] &ndash;&gt;</span>-->

    <canvas id="canvas-particle" data-rgb="156,217,249"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
     <div class="display-table-cell vertical-align-middle">

       <div class="container text-center">
         <div class="col-md-12 col-sm-12">
           <div class="container">
             <ul class="navigation">
               <li>
                 <a href="#" class="to top">
                   <i class="fa fa-home"></i>
                   <span>Home</span>
                 </a>
               </li>
               <li>
                 <a href="#" class="to bottom">
                   <i class="fa fa-qrcode"></i>
                   <span>About</span>
                 </a>
               </li>
               <li>
                 <a href="#" class="to right">
                   <i class="fa fa-flash"></i>
                   <span>Work</span>
                 </a>
               </li>
               <li>
                 <a href="#" class="to left">
                   <i class="fa fa-pencil"></i>
                   <span>Journal</span>
                 </a>
               </li>
               <li>
                 <a href="#">
                   <i class="fa fa-heart"></i>
                   <span>Contact</span>
                 </a>
               </li>
             </ul>
           </div>

         </div>
       </div>
     </div>
   </div>

  </section>
